<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>

	<title>E-Portal</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href="../../../../frontend/css/style.css" rel="stylesheet">

</head>
<body>
	<div class="container" style="margin-top: 2%;">
		<div class="header clearfix">
			<nav>
        		<ul class="nav nav-pills float-right">
          			<li class="nav-item">
            				<form  th:action="index.html" method="get">
              					<input class="btn btn-primary" style="margin:1px;" type="submit" value="Home"/>
            				</form>
          			</li>
          			<li class="nav-item">
            				<form th:action="@{/profile}" method="get">
              					<input class="btn btn-primary" style="margin:1px;" type="submit" value="Profile"/>
            				</form>
          			</li>
          			<li class="nav-item">
            				<form th:action="@{/course}" method="get">
              					<input class="btn btn-primary" style="margin:1px;" type="submit" value="Course"/>
            				</form>
            				<!--<form th:action="@{/profile/}" method="get">
              					<input type="submit" value="Profile"/>
            				</form>-->
            				<!-- <a th:href="@{/profile/1}"> Profile</a> -->
          			</li>
          			<li class="nav-item">
            				<form th:action="@{/logout}" method="post">
              					<input class="btn btn-danger" style="margin:1px;" type="submit" value="Sign Out"/>
            				</form>
          			</li>
        		</ul>
      			</nav>
			<h3 class="text-muted">E-Portal</h3>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2 th:text="${currentCourse.getName()}"/>
						<br>
						<h5 th:text="${currentCourse.getCode()}"/>
					</div>
				</div>
			</div>
			<div class="total">
			<div class="row-content">
				<div class="col-md-12">
					<h3>
						General
					</h3>
					<hr>
					<ul>
						<li class="list-item">
							<h6 th:text="${currentCourse.getDescription()}"/>
						</li>
						<li class="list-item">
							<h6 th:text="${'Professor: ' + currentCourse.getProfessorByProfessorId().getUserByUserId().getName() + ' ' + currentCourse.getProfessorByProfessorId().getUserByUserId().getSurname()}"/>
						</li>
						<li class="list-item">
							<h6 th:text="${'Contact: ' + currentCourse.getProfessorByProfessorId().getUserByUserId().getEmail()}"/>
						</li>
					</ul>
				</div>
			</div>
				<hr>
			<div class="row-content">
				<div class="col-md-12">
					<h3>
						Students enrolled
					</h3>
					<br>
					<li class="list-item">
						<a>Student 1</a>
					</li>
					<li class="list-item">
						<a>Student 2</a>
					</li>
					<li class="list-item">
						<a>Student 3</a>
					</li>
					<li class="list-item">
						<a>Student 4</a>
					</li>
					</ul>
				</div>
			</div>
				<hr>
						<div class="row-content">
				<div class="col-md-12">
					<h3>
						Tests
					</h3>
					<hr>
					<ul th:each="test :${currentCourse.getTestsByCourseId()}">
						<li class="list-item">
							<a th:href="@{takeTest/{testId} (testId=${test.getTestId()})}" th:text="${test.getTestName()}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	</body>
	</html>