<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

	<title>E-Portal</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href="../../../../frontend/css/style.css" rel="stylesheet">

</head>
<body>
	<div class="container" style="margin-top: 2%;">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Logout</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">E-Portal</h3>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2 th:text="${currentcourse}"/>
						<br>
						<h5 th:text="${currentcourse.getDescription()}"/>
					</div>
				</div>
			</div>
			<div class="total">
			<div class="row-content">
				<div class="col-md-12">
					<h3>
						General
					</h3>
					<hr>
					<ul>
						<li class="list-item">
							<h6 th:text="${'Professor: ' + currentcourse.getProfessorByProfessorId().getUserByUserId().getName() + ' ' + currentcourse.getProfessorByProfessorId().getUserByUserId().getSurname()}"/>-->
						</li>
						<li class="list-item">
							<h6 th:text="${'Contact: ' + currentcourse.getProfessorByProfessorId().getUserByUserId().getEmail()}"/>-->
						</li>
					</ul>
				</div>
			</div>
			<div class="row-content">
				<div class="col-md-12">
					<h3>
						Students enrolled
					</h3>

					<form th:action="@{{id}/addStudent(id=${currentcourse.getCourseId()})}"   method="POST">
						<div><label> User Id : <input type="text" th:name="indexNo"/> </label></div>

						<div><input type="submit" value="Add Student"/></div>
					</form>
					<!--<form th:action="@{/addStudent/}"  th:object="${ss}" method="POST">
						<div><label> User Id : <input type="text" th:field="*{indexNo}"/> </label></div>
						<div><input type="submit" value="Add Student"/></div>
					</form>-->



					<hr>

					<ul th:each="student :${studentsEnrolled}">
						<li class="list-item">
							<h6 th:text="${student.getUserByUserId().getName() + ' ' + student.getUserByUserId().getSurname()}"/>
						</li>
					</ul>
				</div>
			</div>
						<div class="row-content">
				<div class="col-md-12">
					<h3>
						Tests
					</h3>
					<hr>
					<ul th:each="test :${currentcourse.getTestsByCourseId()}">
						<li class="list-item">
							<a th:href="@{/index}" th:text="${test.getTestName()}">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	</body>
	</html>

