
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>E-Portal</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/main.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../../../frontend/css/main.css">
</head>

<body>
<div class="container" style="margin-top: 2%;">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <form  th:action="@{/index/start}" method="get">
                        <input class="btn btn-primary" style="margin:1px;" type="submit" value="Home"/>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/profile}" method="get">
                        <input class="btn btn-primary" style="margin:1px;" type="submit" value="Profile"/>
                    </form>
                </li>
<!--                <li class="nav-item">-->
<!--                    <form th:action="@{/course}" method="get">-->
<!--                        <input class="btn btn-primary" style="margin:1px;" type="submit" value="Course"/>-->
<!--                    </form>-->
                    <!--<form th:action="@{/profile/}" method="get">
                          <input type="submit" value="Profile"/>
                    </form>-->
                    <!-- <a th:href="@{/profile/1}"> Profile</a> -->
<!--                </li>-->
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-danger" style="margin:1px;" type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">E-Portal</h3>
        <hr>

        <div class="row">

            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="#" th:action="@{/saveProfile}"  method="POST">
                                    <div class="form-group row">
                                        <label  class="col-4 col-form-label">Student ID</label>
                                        <div class="col-8">
                                            <span type="text" th:text="${studentprofile.getStudentsByUserId().getIndexNo()}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Name</label>
                                        <div class="col-8">
                                            <span type="text" th:text="${studentprofile.getName()}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-4 col-form-label">Surname</label>
                                        <div class="col-8">
                                            <span type="text" th:text="${studentprofile.getSurname()}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            <span type="text" th:text="${studentprofile.getEmail()}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-4 col-form-label">PESEL</label>
                                        <div class="col-8">
                                            <span type="text" th:text="${studentprofile.getPesel()}"></span>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>

