<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <title>E-Portal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/login.css">



</head>

<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <br>

        <div style="margin-top: 10px;">
            Choose your type of profile.
        </div>
        <div style="margin:20px">
            <form  th:action="index.html" method="get">
                <input class="btn btn-primary btn-block" style="margin:1px;" type="submit" value="Student"/>
            </form>
            <form  th:action="index.html" method="get">
                <input class="btn btn-primary btn-block" style="margin:1px;" type="submit" value="Professor"/>
            </form>
            <br>
        </div>
    </div>
</div>

</body>
</html>